#version: '3.1'
#네트웍 브릿지 추가 함
# 수정 ~ aritfact 업로드/다운로드 때문에 주석 처리
# 수정 2~

services:
  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app1
      - app2
    networks:
      - my_bridge_network

  app1:
    image: jaewoozzang/devops_step2:latest
    networks:
      - my_bridge_network

  app2:
    image: jaewoozzang/devops_step2:latest
    networks:
      - my_bridge_network

networks:
  my_bridge_network:
    driver: bridge